#searchPage {
    h2 {
        margin-bottom: 1rem;
        font-weight: 500;

        em {
            font-weight: 800;
        }
    }

    .video__more {
        text-align: center;

        button {
            background: var(--black200);
            border: 1px solid var(--black200);
            padding: 14px 40px;
            border-radius: 50px;
            color: var(--white);
            transition: all 0.3s;

            &:hover {
                background: none;
                color: var(--black200);
            }
        }



    }
}

.search__inner {
    width: 100%;
    padding: 19px 40px;
    border-bottom: 1px solid var(--white300);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white100);
        border: 1px solid var(--white300);
        color: var(--black600);
        padding: 15px 30px;
        border-radius: 50px;
    }
}