#main .swiper-button-prev,
#main .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 33%);
    background-color: #000000b0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


#main .swiper-button-prev:after,
#main .swiper-button-next:after {
    color: #fff;
    font-size: 18px;
}