.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    min-height: 100vh;

    .video {
        margin-bottom: 50px;
        background-color: var(--white200);
        border-radius: 10px;
        overflow: hidden;

        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }

        }

        .video__info {
            padding: 20px;

            .title {
                font-size: 17px;
                font-weight: bold;
                min-height: 51px;
                @include line(2);
            }

            .desc {
                font-size: 14px;
                margin: 5px 0 15px;
                min-height: 63px;
                @include line(3);
            }

            .info {
                font-size: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .author {
                    @include line-on;
                    width: 50%;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }
    }
}

// 비디오 상세 페이지
// #videoViewPage {
//     padding: 0;
// }
.video__view {
    padding: 0;

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .video__info {

        .video__title {
            padding-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;

            @media (max-width: 400px) {
                font-size: 16px;
            }
        }

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            align-items: center;

            @media (max-width: 400px) {
                align-items: flex-start;
                flex-direction: column;
            }

            .id {
                font-weight: 700;
                display: flex;

                a {
                    border-radius: 50px;
                    padding: 7px 20px;
                    border-radius: 30px;
                    border: 1px solid var(--black300);
                    color: var(--white);
                    background-color: var(--black300);
                }
            }

            .count {
                @media (max-width: 400px) {
                    margin-top: 10px;
                }

                span.view {
                    @media (max-width: 400px) {
                        margin-left: 0;
                    }
                }

                span {
                    border: 1px solid var(--black300);
                    padding: 7px 20px;
                    border-radius: 30px;
                    margin-left: 10px;
                    display: inline-flex;
                    align-items: center;



                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .video__desc {
            border-top: 1px solid var(--white400);
            white-space: pre-line;
            padding-top: 30px;
        }

    }
}

@media (max-width: 1354px) {
    .video__inner {
        grid-template-columns: repeat(3, 32%);

        .video {
            .video__info {
                padding: 15px;

                .video__tit {
                    .title {
                        font-size: 15px;
                        min-height: 45px;
                    }

                    .desc {
                        min-height: 59px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .video__inner {
        grid-template-columns: repeat(2, 48%);
    }
}

@media (max-width: 800px) {
    .video__inner {
        grid-template-columns: repeat(3, 32%);

        .video {
            .video__info {

                .video__tit {

                    .desc {
                        min-height: 55px;
                    }
                }
            }
        }
    }

}

@media (max-width: 600px) {
    .video__inner {
        grid-template-columns: repeat(2, 48%);
        margin-top: 2rem;

        .video {
            .video__info {

                .video__tit {

                    .desc {
                        min-height: 55px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .video__inner {
        grid-template-columns: repeat(1, 100%);
        margin-top: 2rem;

        .video {
            margin-bottom: 20px;
        }
    }
}