:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";

    --black: #000;
    --black100: #1d1d1d;
    --black200: #282828;
    --black300: #363636;
    --black400: #414141;
    --black500: #494949;

    --white: #fff;
    --white100: #fbfbfb;
    --white200: #eeeeee;
    --white300: #e9e9e9;
    --white400: #dcdcdc;
    --white500: #d2d2d2;

    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}